**Microsoft Movie Studios**

Author: Mario Mocombe

**Overview**

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

**Business Problem**

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they don’t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

Questions to consider:

* What are the business's plan points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?

**Data Understanding**

1) im.db.zip 

    A zipped SQLite database containing movie data from the website Internet Movie Data Base.

2) bom.movie_gross.csv.gz

    A compressed CSV file containing box office data from the website Box Office Mojo.

Questions to consider:

* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?

In [61]:
##Import Standard Packages
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# 1 IMDB DATABASE

In [62]:
### making a connection with the IMDB DATABASE using SQLite3
conn = sqlite3.connect('zippedData/im.db')

In [63]:
### setting up a cursor so I'm able to move through the database.
### Let's continue on and create a cursor.
##A cursor object is what can actually execute SQL commands. You create it by calling .cursor() on the connection.

cur = conn.cursor()
# (This is a special query for finding the table names. 
cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")

In [64]:
## Use the fetchall method to find out the table names
## Fetch the result and store it in table_names
table_names = cur.fetchall()
table_names

[('movie_basics',),
 ('directors',),
 ('known_for',),
 ('movie_akas',),
 ('movie_ratings',),
 ('persons',),
 ('principals',),
 ('writers',)]

In [65]:
pd.read_sql("SELECT * FROM movie_basics;", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [66]:
pd.read_sql("SELECT * FROM movie_ratings ORDER BY movie_id;", conn)

        movie_id  averagerating  numvotes
0      tt0063540            7.0        77
1      tt0066787            7.2        43
2      tt0069049            6.9      4517
3      tt0069204            6.1        13
4      tt0100275            6.5       119
...          ...            ...       ...
73851  tt9913084            6.2         6
73852  tt9914286            8.7       136
73853  tt9914642            8.5         8
73854  tt9914942            6.6         5
73855  tt9916160            6.5        11

[73856 rows x 3 columns]

In [69]:
#########KEEP#########################

s = """
SELECT primary_title, start_year, runtime_minutes, genres, averagerating, numvotes 
FROM movie_basics
JOIN movie_ratings
USING(movie_id)
ORDER BY numvotes DESC;
"""
imdb = pd.read_sql(s, conn)
#######################################

In [70]:
imdb

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
1,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769
2,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334
3,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405
4,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655
...,...,...,...,...,...,...
73851,Columbus,2018,85.0,Comedy,5.8,5
73852,BADMEN with a good behavior,2018,87.0,"Comedy,Horror",9.2,5
73853,July Kaatril,2019,NaN,Romance,9.0,5
73854,Swarm Season,2019,86.0,Documentary,6.2,5
73855,La vida sense la Sara Amat,2019,NaN,None,6.6,5

In [42]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   primary_title    73856 non-null  object
 1   start_year       73856 non-null  int64
 2   runtime_minutes  66236 non-null  float64
 3   genres           73052 non-null  object
 4   averagerating    73856 non-null  float64
 5   numvotes         73856 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 3.4+ MB

In [71]:
imdb.dropna(inplace=True)

In [72]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65720 entries, 0 to 73854
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   primary_title    65720 non-null  object
 1   start_year       65720 non-null  int64
 2   runtime_minutes  65720 non-null  float64
 3   genres           65720 non-null  object
 4   averagerating    65720 non-null  float64
 5   numvotes         65720 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 3.5+ MB

In [74]:
imdb.head(20)

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
1,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769
2,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334
3,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405
4,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655
5,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",8.2,1035358
6,Shutter Island,2010,138.0,"Mystery,Thriller",8.1,1005960
7,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",8.1,948394
8,Deadpool,2016,108.0,"Action,Adventure,Comedy",8.0,820847
9,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",7.2,795227
10,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",8.0,784780
11,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi",8.1,780910
12,Gone Girl,2014,149.0,"Drama,Mystery,Thriller",8.1,761592
13,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,719629
14,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller",7.7,710018
15,Iron Man 3,2013,130.0,"Action,Adventure,Sci-Fi",7.2,692794
16,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy",8.1,691835
17,Thor,2011,115.0,"Action,Adventure,Fantasy",7.0,683264
18,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218
19,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi",8.0,680116

In [73]:
imdb.describe()

         start_year  runtime_minutes  averagerating      numvotes
count  65720.000000     65720.000000   65720.000000  6.572000e+04
mean    2014.258065        94.732273       6.320902  3.954674e+03
std        2.600143       209.377017       1.458878  3.208823e+04
min     2010.000000         3.000000       1.000000  5.000000e+00
25%     2012.000000        81.000000       5.500000  1.600000e+01
50%     2014.000000        91.000000       6.500000  6.200000e+01
75%     2016.000000       104.000000       7.300000  3.520000e+02
max     2019.000000     51420.000000      10.000000  1.841066e+06

In [87]:
#Add > 2500 votes as a condition?

imdb.tail(64000)

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
1720,Fading Gigolo,2013,90.0,Comedy,6.2,22473
1721,The Guernsey Literary and Potato Peel Pie Society,2018,124.0,"Drama,History,Romance",7.4,22443
1722,The Silence,2019,90.0,"Horror,Thriller",5.2,22399
1723,Better Watch Out,2016,89.0,"Comedy,Crime,Horror",6.5,22367
1724,Paranormal Activity: The Ghost Dimension,2015,88.0,"Horror,Mystery,Thriller",4.6,22361
...,...,...,...,...,...,...
73848,The Winter Garden's Tale,2018,75.0,"Documentary,Drama",7.6,5
73850,The Projectionist,2019,81.0,Documentary,7.0,5
73851,Columbus,2018,85.0,Comedy,5.8,5
73852,BADMEN with a good behavior,2018,87.0,"Comedy,Horror",9.2,5
73854,Swarm Season,2019,86.0,Documentary,6.2,5

In [76]:
imdb.value_counts()

primary_title                              start_year  runtime_minutes  genres                averagerating  numvotes
Šiška Deluxe                               2015        108.0            Comedy,Drama          6.3            384         1
Goodbye to All That                        2014        87.0             Comedy,Drama,Romance  5.2            2141        1
Grace                                      2014        95.0             Drama                 6.0            176         1
                                           2011        98.0             Crime,Drama,Horror    6.5            19          1
Grabbers                                   2012        94.0             Comedy,Horror,Sci-Fi  6.3            15727       1
                                                                                                                        ..
Revelation: Dawn of Global Government      2016        106.0            Documentary           6.8            65          1
Revelation Trail                           2013        108.0            Drama,Horror,Western  4.5            164         1
Revelation Road: The Black Rider           2014        112.0            Action,Drama,Fantasy  5.7            600         1
Revelation Road: The Beginning of the End  2013        88.0             Action                4.9            1672        1
!Women Art Revolution                      2010        83.0             Documentary           6.9            196         1
Length: 65720, dtype: int64

In [86]:
imdb.duplicated().value_counts()

False    65720
dtype: int64

In [231]:
####SELECT FROM WHERE
    ###Genre LIKE '%Action%'

In [241]:
###DEL combined_df = pd.concat([x, y], axis=1, join='inner')

In [242]:
###DEL combined_df

In [243]:
###  combined_df

In [49]:
##TEST TEST#########---HIGHEST GROSSING ACTOR/ACTRESS---#####################

q = """
SELECT primary_title, runtime_minutes, genres, category, primary_name, averagerating, numvotes 
FROM principals
JOIN movie_ratings
USING (movie_id)
JOIN movie_basics
USING (movie_id)
JOIN persons
USING (person_id)
WHERE category = "actress"
OR category = "actor"
ORDER BY numvotes DESC;
"""
imdb2 = pd.read_sql(q, conn)
#######################################

In [50]:
imdb2.head(60)

,primary_title,runtime_minutes,genres,category,primary_name,averagerating,numvotes
0,Inception,148.0,"Action,Adventure,Sci-Fi",actor,Leonardo DiCaprio,8.8,1841066
1,Inception,148.0,"Action,Adventure,Sci-Fi",actor,Joseph Gordon-Levitt,8.8,1841066
2,Inception,148.0,"Action,Adventure,Sci-Fi",actress,Ellen Page,8.8,1841066
3,Inception,148.0,"Action,Adventure,Sci-Fi",actor,Ken Watanabe,8.8,1841066
4,The Dark Knight Rises,164.0,"Action,Thriller",actor,Christian Bale,8.4,1387769
5,The Dark Knight Rises,164.0,"Action,Thriller",actor,Tom Hardy,8.4,1387769
6,The Dark Knight Rises,164.0,"Action,Thriller",actress,Anne Hathaway,8.4,1387769
7,The Dark Knight Rises,164.0,"Action,Thriller",actor,Gary Oldman,8.4,1387769
8,Interstellar,169.0,"Adventure,Drama,Sci-Fi",actor,Matthew McConaughey,8.6,1299334
9,Interstellar,169.0,"Adventure,Drama,Sci-Fi",actress,Anne Hathaway,8.6,1299334
10,Interstellar,169.0,"Adventure,Drama,Sci-Fi",actress,Jessica Chastain,8.6,1299334
11,Interstellar,169.0,"Adventure,Drama,Sci-Fi",actress,Mackenzie Foy,8.6,1299334
12,Django Unchained,165.0,"Drama,Western",actor,Jamie Foxx,8.4,1211405
13,Django Unchained,165.0,"Drama,Western",actor,Christoph Waltz,8.4,1211405
14,Django Unchained,165.0,"Drama,Western",actor,Leonardo DiCaprio,8.4,1211405
15,Django Unchained,165.0,"Drama,Western",actress,Kerry Washington,8.4,1211405
16,The Avengers,143.0,"Action,Adventure,Sci-Fi",actor,Robert Downey Jr.,8.1,1183655
17,The Avengers,143.0,"Action,Adventure,Sci-Fi",actor,Chris Evans,8.1,1183655
18,The Avengers,143.0,"Action,Adventure,Sci-Fi",actress,Scarlett Johansson,8.1,1183655
19,The Avengers,143.0,"Action,Adventure,Sci-Fi",actor,Jeremy Renner,8.1,1183655
20,The Wolf of Wall Street,180.0,"Biography,Crime,Drama",actor,Leonardo DiCaprio,8.2,1035358
21,The Wolf of Wall Street,180.0,"Biography,Crime,Drama",actor,Jonah Hill,8.2,1035358
22,The Wolf of Wall Street,180.0,"Biography,Crime,Drama",actress,Margot Robbie,8.2,1035358
23,The Wolf of Wall Street,180.0,"Biography,Crime,Drama",actor,Matthew McConaughey,8.2,1035358
24,Shutter Island,138.0,"Mystery,Thriller",actor,Leonardo DiCaprio,8.1,1005960
25,Shutter Island,138.0,"Mystery,Thriller",actress,Emily Mortimer,8.1,1005960
26,Shutter Island,138.0,"Mystery,Thriller",actor,Mark Ruffalo,8.1,1005960
27,Shutter Island,138.0,"Mystery,Thriller",actor,Ben Kingsley,8.1,1005960
28,Guardians of the Galaxy,121.0,"Action,Adventure,Comedy",actor,Chris Pratt,8.1,948394
29,Guardians of the Galaxy,121.0,"Action,Adventure,Comedy",actor,Vin Diesel,8.1,948394
30,Guardians of the Galaxy,121.0,"Action,Adventure,Comedy",actor,Bradley Cooper,8.1,948394
31,Guardians of the Galaxy,121.0,"Action,Adventure,Comedy",actress,Zoe Saldana,8.1,948394
32,Deadpool,108.0,"Action,Adventure,Comedy",actor,Ryan Reynolds,8.0,820847
33,Deadpool,108.0,"Action,Adventure,Comedy",actress,Morena Baccarin,8.0,820847
34,Deadpool,108.0,"Action,Adventure,Comedy",actor,T.J. Miller,8.0,820847
35,Deadpool,108.0,"Action,Adventure,Comedy",actor,Ed Skrein,8.0,820847
36,The Hunger Games,142.0,"Action,Adventure,Sci-Fi",actress,Jennifer Lawrence,7.2,795227
37,The Hunger Games,142.0,"Action,Adventure,Sci-Fi",actor,Josh Hutcherson,7.2,795227
38,The Hunger Games,142.0,"Action,Adventure,Sci-Fi",actor,Liam Hemsworth,7.2,795227
39,The Hunger Games,142.0,"Action,Adventure,Sci-Fi",actor,Stanley Tucci,7.2,795227
40,Star Wars: Episode VII - The Force Awakens,136.0,"Action,Adventure,Fantasy",actress,Daisy Ridley,8.0,784780
41,Star Wars: Episode VII - The Force Awakens,136.0,"Action,Adventure,Fantasy",actor,John Boyega,8.0,784780
42,Star Wars: Episode VII - The Force Awakens,136.0,"Action,Adventure,Fantasy",actor,Oscar Isaac,8.0,784780
43,Star Wars: Episode VII - The Force Awakens,136.0,"Action,Adventure,Fantasy",actor,Domhnall Gleeson,8.0,784780
44,Mad Max: Fury Road,120.0,"Action,Adventure,Sci-Fi",actor,Tom Hardy,8.1,780910
45,Mad Max: Fury Road,120.0,"Action,Adventure,Sci-Fi",actress,Charlize Theron,8.1,780910
46,Mad Max: Fury Road,120.0,"Action,Adventure,Sci-Fi",actor,Nicholas Hoult,8.1,780910
47,Mad Max: Fury Road,120.0,"Action,Adventure,Sci-Fi",actress,Zoë Kravitz,8.1,780910
48,Gone Girl,149.0,"Drama,Mystery,Thriller",actor,Ben Affleck,8.1,761592
49,Gone Girl,149.0,"Drama,Mystery,Thriller",actress,Rosamund Pike,8.1,761592
50,Gone Girl,149.0,"Drama,Mystery,Thriller",actor,Neil Patrick Harris,8.1,761592
51,Gone Girl,149.0,"Drama,Mystery,Thriller",actor,Tyler Perry,8.1,761592
52,The Hobbit: An Unexpected Journey,169.0,"Adventure,Family,Fantasy",actor,Martin Freeman,7.9,719629
53,The Hobbit: An Unexpected Journey,169.0,"Adventure,Family,Fantasy",actor,Ian McKellen,7.9,719629
54,The Hobbit: An Unexpected Journey,169.0,"Adventure,Family,Fantasy",actor,Richard Armitage,7.9,719629
55,The Hobbit: An Unexpected Journey,169.0,"Adventure,Family,Fantasy",actor,Andy Serkis,7.9,719629
56,Gravity,91.0,"Drama,Sci-Fi,Thriller",actress,Sandra Bullock,7.7,710018
57,Gravity,91.0,"Drama,Sci-Fi,Thriller",actor,George Clooney,7.7,710018
58,Gravity,91.0,"Drama,Sci-Fi,Thriller",actor,Ed Harris,7.7,710018
59,Gravity,91.0,"Drama,Sci-Fi,Thriller",actor,Orto Ignatiussen,7.7,710018

In [52]:
####TEST####
imdb2['primary_name'].value_counts()

Eric Roberts         122
Prakash Raj           74
Brahmanandam          74
Tom Sizemore          61
Michael Madsen        59
                    ...
Juan Ferrara           1
Anthony Brogan         1
Gayla Goehl            1
Carolina Raspanti      1
Melody Tang            1
Name: primary_name, Length: 142527, dtype: int64

In [53]:
####TEST####
imdb2['genres'].value_counts().head(20)

Drama                   48535
Comedy                  24363
Horror                  12110
Comedy,Drama            11008
Thriller                 6608
Drama,Romance            6301
Documentary              6247
Comedy,Romance           5339
Comedy,Drama,Romance     5056
Action                   4502
Horror,Thriller          4225
Drama,Thriller           4140
Romance                  3094
Comedy,Horror            2551
Action,Crime,Drama       2399
Crime,Drama,Thriller     2093
Crime,Drama              2079
Family                   2015
Drama,Family             1980
Action,Drama             1738
Name: genres, dtype: int64

In [ ]:
conn.close()

# 2 BOX OFFICE MOJO

In [165]:
##Loading up the first dataframe, BOX OFFICE MOJO, with Pandas.Importing Data
# Import the file and print the first 5 rows
df = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [166]:
df.info()
### CHANGE FOREIGN GROSS TO FLOAT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [192]:
## df['foreign_gross'].astype(float)
##Gives Error could not convert string to float: '1,131.6'

In [198]:
### sorting the values by domestic gross, we see that the foreign gross is off for 3 of the top results and for Furious 7.
df.sort_values(by=['domestic_gross'],ascending=False)

,title,studio,domestic_gross,foreign_gross,year
1872,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015
3080,Black Panther,BV,700100000.0,646900000,2018
3079,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018
1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015
727,Marvel's The Avengers,BV,623400000.0,895500000,2012
...,...,...,...,...,...
1975,Surprise - Journey To The West,AR,NaN,49600000,2015
2392,Finding Mr. Right 2,CL,NaN,114700000,2016
2468,Solace,LGP,NaN,22400000,2016
2595,Viral,W/Dim.,NaN,552000,2016
2825,Secret Superstar,NaN,NaN,122000000,2017

In [199]:
### sorting the values by foreign gross, we see that the top 5 results are wildly popular franchises with a little over $1k gross.
df.sort_values(by=['foreign_gross'])

,title,studio,domestic_gross,foreign_gross,year
2760,The Fate of the Furious,Uni.,226000000.0,"1,010.0",2017
1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015
1872,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015
1874,Furious 7,Uni.,353000000.0,"1,163.0",2015
3079,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [200]:
## REPLACE the erroneous values with more realistic ones.  The five entries were most likely meant to contain billions in gross.
df['foreign_gross'] = df['foreign_gross'].replace(['1,010.0','1,019.4','1,131.6', '1,163.0','1,369.5'], ['1010000000', '1019000000', '1131000000', '1163000000', '1369000000'])

In [204]:
#check to see if the values changed
df.sort_values(by=['domestic_gross'],ascending=False)

,title,studio,domestic_gross,foreign_gross,year
1872,Star Wars: The Force Awakens,BV,936700000.0,1131000000,2015
3080,Black Panther,BV,700100000.0,646900000,2018
3079,Avengers: Infinity War,BV,678800000.0,1369000000,2018
1873,Jurassic World,Uni.,652300000.0,1019000000,2015
727,Marvel's The Avengers,BV,623400000.0,895500000,2012
...,...,...,...,...,...
1975,Surprise - Journey To The West,AR,NaN,49600000,2015
2392,Finding Mr. Right 2,CL,NaN,114700000,2016
2468,Solace,LGP,NaN,22400000,2016
2595,Viral,W/Dim.,NaN,552000,2016
2825,Secret Superstar,NaN,NaN,122000000,2017

In [212]:
df['foreign_gross'].astype(float)

0       652000000.0
1       691300000.0
2       664300000.0
3       535700000.0
4       513900000.0
           ...
3382            NaN
3383            NaN
3384            NaN
3385            NaN
3386            NaN
Name: foreign_gross, Length: 3387, dtype: float64

In [210]:
df['foreign_gross'].dtypes

dtype('O')

In [213]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [181]:
df.groupby('domestic_gross')

df.groupby(df['domestic_gross'])

In [183]:
df.groupby('domestic_gross').mean()

                       year
domestic_gross
100.0           2013.000000
300.0           2015.666667
400.0           2014.500000
500.0           2017.000000
600.0           2012.000000
...                     ...
623400000.0     2012.000000
652300000.0     2015.000000
678800000.0     2018.000000
700100000.0     2018.000000
936700000.0     2015.000000

[1797 rows x 1 columns]

In [ ]:
##DROP MISSING VALUES FOR FOREIGN GROSS, DO new df.tail

In [151]:
df["foreign_gross"].tail(60)

3327      NaN
3328      NaN
3329      NaN
3330      NaN
3331      NaN
3332      NaN
3333      NaN
3334      NaN
3335      NaN
3336      NaN
3337      NaN
3338      NaN
3339      NaN
3340      NaN
3341      NaN
3342     5200
3343      NaN
3344      NaN
3345      NaN
3346      NaN
3347      NaN
3348      NaN
3349      NaN
3350      NaN
3351      NaN
3352      NaN
3353    30000
3354      NaN
3355      NaN
3356      NaN
3357      NaN
3358      NaN
3359      NaN
3360      NaN
3361      NaN
3362      NaN
3363      NaN
3364      NaN
3365      NaN
3366      NaN
3367      NaN
3368      NaN
3369      NaN
3370      NaN
3371      NaN
3372      NaN
3373      NaN
3374      NaN
3375      NaN
3376      NaN
3377      NaN
3378      NaN
3379      NaN
3380      NaN
3381      NaN
3382      NaN
3383      NaN
3384      NaN
3385      NaN
3386      NaN
Name: foreign_gross, dtype: object

In [ ]:
#df['total gross'] = df['domestic_gross'] + df['foreign_gross']

In [111]:
df.index

RangeIndex(start=0, stop=3387, step=1)

In [126]:
df.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [47]:
df.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [48]:
df.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [49]:
df.dtypes

###change foreign_gross into float

title              object
studio             object
domestic_gross    float64
foreign_gross      object
year                int64
dtype: object

In [113]:
df.sorted("foreign_gross")

AttributeError: 'DataFrame' object has no attribute 'sort'

In [50]:
df.head(20)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010
10,Clash of the Titans (2010),WB,163200000.0,330000000,2010
11,The Chronicles of Narnia: The Voyage of the Da...,Fox,104400000.0,311300000,2010
12,The King's Speech,Wein.,135500000.0,275400000,2010
13,Tron Legacy,BV,172100000.0,228000000,2010
14,The Karate Kid,Sony,176600000.0,182500000,2010
15,Prince of Persia: The Sands of Time,BV,90800000.0,245600000,2010
16,Black Swan,FoxS,107000000.0,222400000,2010
17,Megamind,P/DW,148400000.0,173500000,2010
18,Robin Hood,Uni.,105300000.0,216400000,2010
19,The Last Airbender,Par.,131800000.0,187900000,2010

In [132]:
df["studio"].value_counts().head(50)

IFC         166
Uni.        147
WB          140
Fox         136
Magn.       136
SPC         123
Sony        110
BV          106
LGF         103
Par.        101
Eros         89
Wein.        77
CL           74
Strand       68
FoxS         67
RAtt.        66
KL           62
Focus        60
WGUSA        58
CJ           56
MBox         54
UTV          50
A24          49
WB (NL)      45
FM           42
LG/S         41
Cohen        40
ORF          37
SGem         35
Rela.        35
FIP          26
STX          24
Gold.        24
GK           24
Osci.        23
RTWC         23
TriS         23
BST          22
MNE          22
EOne         21
Drft.        20
Distrib.     20
Relbig.      18
Anch.        18
CBS          17
Zeit.        16
BG           16
Sum.         15
FD           14
W/Dim.       14
Name: studio, dtype: int64

In [52]:
df.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [53]:
df.shape

(3387, 5)

# 3 THE NUMBERS

In [54]:
##Loading up the second dataframe, THE NUMBERS, with Pandas.
df2 = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")
df2

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [56]:
df2.shape

(5782, 6)

In [ ]:
##### RELEASE DATES / WORLDWIDEGROSS

In [57]:
df2.index

RangeIndex(start=0, stop=5782, step=1)

In [58]:
df2.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [59]:
df2.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [60]:
df2.dtypes

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [61]:
df2.value_counts()

id   release_date  movie                     production_budget  domestic_gross  worldwide_gross
100  Sep 2, 2005   The Transporter 2         $32,000,000        $43,095,856     $88,978,458        1
34   Apr 30, 2010  Housefull                 $10,100,000        $1,183,658      $18,726,300        1
     Apr 5, 2019   The Best of Enemies       $10,000,000        $10,205,616     $10,205,616        1
     Aug 13, 2010  The Expendables           $82,000,000        $103,068,524    $268,268,174       1
     Aug 25, 2017  Birth of the Dragon       $31,000,000        $6,901,965      $7,220,490         1
                                                                                                  ..
67   Jun 15, 2005  Batman Begins             $150,000,000       $205,343,774    $359,142,722       1
     Jun 19, 1987  The Brave Little Toaster  $2,300,000         $0              $0                 1
     Jun 3, 1988   Big                       $18,000,000        $114,968,774    $151,668,774       1
     Jun 7, 2013   The Purge                 $3,000,000         $64,473,115     $91,266,581        1
1    Apr 10, 1981  Nighthawks                $5,000,000         $14,600,000     $19,600,000        1
Length: 5782, dtype: int64

# 4 THE MOVIE DATABASE

In [ ]:
### DROP DUPLICATES

In [239]:
##Loading up the third dataframe, THE MOVIE DATABASE, with Pandas.
##Specify the argument index_col=0 in order to avoid creating an extra Id column

df3 = pd.read_csv("zippedData/tmdb.movies.csv.gz", index_col=0)
df3

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...
26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [63]:
df3.describe()

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [64]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [65]:
df3.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [66]:
df3.shape

(26517, 10)

In [67]:
df3.index

RangeIndex(start=0, stop=26517, step=1)

In [68]:
df3.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [69]:
df3.dtypes

Unnamed: 0             int64
genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

In [70]:
df3.value_counts()

Unnamed: 0  genre_ids            id      original_language  original_title                                popularity  release_date  title                                         vote_average  vote_count
26516       [53, 27]             309885  en                 The Church                                    0.600       2018-10-05    The Church                                    0.0           1             1
8841        [878, 35]            167948  en                 Space Milkshake                               2.219       2013-02-15    Space Milkshake                               6.1           18            1
8831        [18, 36, 10749]      193006  en                 Mary, Queen of Scots                          2.242       2013-09-08    Mary, Queen of Scots                          4.7           16            1
8832        [35]                 179690  ru                 Что творят мужчины!                           2.238       2013-03-03    What Men Do!                                  3.4           8             1
8833        [35, 18]             203780  ru                 Igra v Pravdu                                 2.235       2013-07-07    The Game of Truth                             6.2           11            1
                                                                                                                                                                                                             ..
17680       [18]                 254302  en                 High-Rise                                     8.474       2016-04-28    High-Rise                                     5.5           610           1
17681       [27]                 355506  en                 Siren                                         8.471       2016-12-02    Siren                                         5.7           96            1
17682       [35, 18]             315664  en                 Florence Foster Jenkins                       8.453       2016-08-12    Florence Foster Jenkins                       6.7           849           1
17683       [28, 12, 16, 10751]  234004  en                 Ratchet & Clank                               8.439       2016-04-29    Ratchet & Clank                               5.5           332           1
0           [12, 14, 10751]      12444   en                 Harry Potter and the Deathly Hallows: Part 1  33.533      2010-11-19    Harry Potter and the Deathly Hallows: Part 1  7.7           10788         1
Length: 26517, dtype: int64

In [203]:
import csv

# 5A ROTTEN TOMATOES REVIEWS

In [232]:
## Opened up the .gz file with WinZip.  Inside was the .tsv file.
## Using pd.read_csv to open .tsv file gave UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 2: invalid continuation byte
## Fixed this error by using 'latin-1' encoding

df5 = pd.read_csv("zippedData/rt.reviews.tsv", sep='\t', encoding='latin-1')
df5

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [236]:
df5['fresh'].value_counts()

fresh     33035
rotten    21397
Name: fresh, dtype: int64

In [210]:
with open("zippedData/rt.reviews.tsv") as f:
    reader = csv.reader(f)
    # Printing only the header and first 5 rows of data
    for _ in range(100):
        print(next(reader))

['id\treview\trating\tfresh\tcritic\ttop_critic\tpublisher\tdate']
['3\tA distinctly gallows take on contemporary financial mores', " as one absurdly rich man's limo ride across town for a haircut functions as a state-of-the-nation discourse. \t3/5\tfresh\tPJ Nabarro\t0\tPatrick Nabarro\tNovember 10", ' 2018']
["3\tIt's an allegory in search of a meaning that never arrives...It's just old-fashioned bad storytelling.\t\trotten\tAnnalee Newitz\t0\tio9.com\tMay 23", ' 2018']
['3\t... life lived in a bubble in financial dealings and digital communications and brief face-to-face conversations and sexual intermissions in a space shuttle of a limousine creeping through the gridlock of an anonymous New York City.\t\tfresh\tSean Axmaker\t0\tStream on Demand\tJanuary 4', ' 2018']
['3\t"Continuing along a line introduced in last year\'s ""A Dangerous Method""', ' David Cronenberg pushes his cinema towards a talky abstraction in his uncanny', ' perversely funny and frighteningly insular adaptation of Don DeLillo', ' ""Cosmopolis""."\t\tfresh\tDaniel Kasman\t0\tMUBI\tNovember 16', ' 2017']
['3\t... a perverse twist on neorealism... \t\tfresh\t\t0\tCinema Scope\tOctober 12', ' 2017']
["3\t... Cronenberg's Cosmopolis expresses something new and necessary about the book", ' which is to say about limits', ' the gaps in what can be known', ' both within and between us.\t\tfresh\tMichelle Orange\t0\tCapital New York\tSeptember 11', ' 2017']
['3\tQuickly grows repetitive and tiresome', ' meandering toward messages that land softly', ' producing little impact.\tC\trotten\tEric D. Snider\t0\tEricDSnider.com\tJuly 17', ' 2013']
['3\tCronenberg is not a director to be daunted by a scenario in which the antihero spends most of his time in a stretch limo. Turning it into a film that interests anyone ... is another matter\t2/5\trotten\tMatt Kelemen\t0\tLas Vegas CityLife\tApril 21', ' 2013']
["3\tCronenberg's cold", ' exacting precision and emotionally removed observation may not grab all viewers', ' but under those perfect surfaces is a raw horror trying to claw out of the denial.\t\tfresh\tSean Axmaker\t0\tParallax View\tMarch 24', ' 2013']
['3\tOver and above its topical urgency or the bit about the misfortune of globalism', ' it does what this director has always done in his films: split open the head of a character', ' plunge inside and try to visualise the bad and the ugly things to be found there.\t\tfresh\tKong Rithdee\t0\tBangkok Post\tMarch 4', ' 2013']
['3\t"Cosmopolis"" is a hypnotic examination of our modern anxieties about the dehumanization brought on by wealth', ' power', ' and technology."\t\tfresh\tTim Grierson\t0\tDeadspin\tFebruary 12', ' 2013']
["3\tWhile not one of Cronenberg's stronger films", ' this anti-capitalist adaptation still merits attention.\tB-\tfresh\tEmanuel Levy\t0\tEmanuelLevy.Com\tFebruary 3', ' 2013']
['3\tRobert Pattinson works mighty hard to make Cosmopolis more than just an erudite slap at modern capitalism. The Twilight heartthrob ultimately fails to rescue a meandering story hitting stale versions of the same talking points.\t2/4\trotten\tChristian Toto\t0\tBig Hollywood\tJanuary 15', ' 2013']
['3\tThe anger over the injustice of the financial collapse and bailout is what powered the Tea Party movement as well as the Occupy Wall Street movement', ' and it powers this movie', ' too.\tB\tfresh\tRobert Roten\t0\tLaramie Movie Scope\tJanuary 7', ' 2013']
['3\tFor those who like their Cronenberg thick and chewy\t3/4\tfresh\tMarty Mapes\t0\tMovie Habit\tOctober 20', ' 2012']
['3\tFor better or worse - often both - Cosmopolis is a quintessential David Cronenberg film. Cosmopolis is simultaneously fascinating and impenetrable', ' profound and absurd', ' labyrinthine yet intimate.\t3/5\tfresh\tAdam Ross\t0\tThe Aristocrat\tSeptember 27', ' 2012']
["3\tFor one of the smartest films I've seen in a while", ' Cosmopolis is also one of the least outwardly enjoyable. That by no means makes it anything less than a great film however.\t4/5\tfresh\tPatrick Kolan\t0\tShotgun Cinema\tSeptember 26', ' 2012']
["3\tIts major problem is that it's not cinematic.\tB\tfresh\tDennis Schwartz\t0\tOzus' World Movie Reviews\tSeptember 25", ' 2012']
['3\t"It\'s fascinating to watch Pattinson actually acting', ' rather than merely brooding through another ""Twilight"" movie', ' but he\'s as trapped in Cronenberg\'s sterile intellectualism as Packer is in his leather-upholstered hell."\t2/4\trotten\tSean P. Means\t0\tSalt Lake Tribune\tSeptember 14', ' 2012']
['3\tA black comedy as dry and deadpan as a bleached skull. To this end', " the movie opens with a sort of death's-head grin: an in-your-face closeup of the grille of a stretch limousine...\t4/4\tfresh\tJohn Beifuss\t0\tCommercial Appeal (Memphis", ' TN)\tSeptember 10', ' 2012']
["3\tWhile 'Cosmopolis' is mostly emotionless and a big letdown it isn't completely boring and has the potential to be better with repeat viewings", " but it just isn't as good as a Cronenberg film should be.\t6/10\tfresh\tChris Sawin\t0\tExaminer.com\tSeptember 7", ' 2012']
['3\tIn the past', ' Cronenberg has used such deadpan performances to striking effect', ' but in the case of Cosmopolis', ' the approach just leaves a giant vaccum in the soul of the celluloid\t1/4\trotten\tJason Buchanan\t0\tTV Guide\tSeptember 7', ' 2012']
['3\t... a movie about a sentient zombie', ' trapped in a womblike limousine while outside the dead souls of Manhattan roil', ' spraying paint on his windows and hurling rats. Everything he wants is posthumous.\t8\tfresh\tPhilip Martin\t0\tArkansas Democrat-Gazette\tSeptember 7', ' 2012']
["3\tThose who said Don DeLillo's book was unfilmable were wrong. This is a film. That much is undeniable. Whether it's a compelling one is a whole other question.\t2/5\trotten\tMike Scott\t0\tTimes-Picayune\tSeptember 7", ' 2012']
['3\tThe rapid dialogue is dry and mannered', ' like a David Mamet play', " there's virtually no story and Cronenberg's visual scheme is cold and claustrophobic.\t2.5/4\trotten\tJoe Williams\t1\tSt. Louis Post-Dispatch\tSeptember 6", ' 2012']
['3\t"Cosmopolis"" is proof that a film can be provocative yet completely un-enjoyable."\t4/10\trotten\tJustin Craig\t0\tFoxNews.com\tSeptember 5', ' 2012']
["3\tIt's fascinating but anti-cinematic and a frustrating film to get your arms around.\t\tfresh\tRoger Moore\t0\tTribune News Service\tSeptember 4", ' 2012']
['3\tThrows heady ideas at you faster than Michael Bay can explode a building', ' but the rate at which ideas stick is inconsistent. It does', ' however', ' develop a rhythm. The metered language forces you to adjust just as emotion develops.\t2.5/4\tfresh\tEric Melin\t0\tScene-Stealers.com\tSeptember 4', ' 2012']
["3\tA master filmmaker's rumination on capitalism as a vision of diseased titanium\t\tfresh\tFernando F. Croce\t0\tCinePassion\tSeptember 4", ' 2012']
["3\tDavid Cronenberg takes a wayward shot at making a film out of Don DeLillo's artful novel Cosmopolis. Cronenberg's version drones and flounders.\t2.0/5\trotten\tTony Macklin\t0\ttonymacklin.net\tSeptember 2", ' 2012']
['3\tCynical and futile - a total waste of time and money.\t3/10\trotten\tSusan Granger\t0\tSSG Syndicate\tSeptember 1', ' 2012']
['3\t"If there has ever been a point in human history when the phrase ""asymmetrical prostate"" got a bigger laugh than it does [here]', ' I\'ve never heard of it."\t7/10\tfresh\tTim Brayton\t0\tAntagony &amp; Ecstasy\tAugust 31', ' 2012']
['3\tWell', " if it isn't the most confounding movie of the year.\t\trotten\tMonica Castillo\t0\tDig Boston\tAugust 31", ' 2012']
['3\tIf Cosmopolis remains chilly and remote', ' it does so in a way that often feels unsettlingly familiar.\t3/5\tfresh\tScott Renshaw\t0\tSalt Lake City Weekly\tAugust 30', ' 2012']
["3\tI don't know if DeLillo's fetishized doubletalk ever works in a visual medium like film", " but I can tell you that Robert Pattinson sure as hell isn't up to it", ' at least not without better direction than this. \tC\trotten\tVincent Mancini\t0\tFilmDrunk\tAugust 30', ' 2012']
["3\tThough hardly a crowd-pleaser. it's the sort of challenging", ' thought-provoking', " stylistically striking piece of auteurism one rarely encounters nowadays.\tA-\tfresh\tFrank Swietek\t0\tOne Guy's Opinion\tAugust 30", ' 2012']
['3\tCosmopolis deconstructs language', ' symbols and theories to present a sprawling and dense post-GFC Heart of Darkness.\t4/5\tfresh\tThomas Caldwell\t0\tCinema Autopsy\tAugust 29', ' 2012']
['3\tCold and calculated', ' Cosmospolis is a mesmerizing journey that takes us deep into the heart of darkness -- familiar territory for such an extraordinary auteur.\t\tfresh\tMark Sells\t0\tThe Reel Deal\tAugust 28', ' 2012']
["3\tWith a cast like this we expected major Cronenberg. Didn't happen.\t\tfresh\tKelly Vance\t0\tEast Bay Express\tAugust 27", ' 2012']
['3\tNot worth seeing\t\trotten\tDiana Saenger\t0\tReviewExpress.com\tAugust 25', ' 2012']
['3\tCosmopolis is an investment that pays off enormous dividends.\t5/5\tfresh\tPeter Sobczynski\t0\teFilmCritic.com\tAugust 24', ' 2012']
['3\tCosmopolis is something like the anti-matter version of Atlas Shrugged.\t\tfresh\t\t0\tMetroActive\tAugust 24', ' 2012']
['3\tIf you pay even a single penny to watch the thing', " you'll be making the most ill-advised purchase of your natural born life.\tF\trotten\tErick Weber\t0\tNECN\tAugust 24", ' 2012']
["3\tI can't convince myself that Cosmopolis is anything other than unscripted documentary about the life of Robert Pattinson", ' shot by security cameras. \t3.5/4\tfresh\tPhil Villarreal\t0\tOK! Magazine\tAugust 24', ' 2012']
['3\tI must admit Robert Pattinson does dead extremely well.\t3/5\tfresh\tMarc Savlov\t0\tAustin Chronicle\tAugust 24', ' 2012']
['3\t"Cosmopolis"" is a deeply subversive', ' deeply intelligent movie for grown-ups. Brilliant."\t4/4\tfresh\tJeffrey M. Anderson\t0\tSan Francisco Examiner\tAugust 24', ' 2012']
['3\tRobert Pattinson... brings a slick', ' knowing roboticness to a man desperate to maintain a pretense of control and command of the world around him.\t\tfresh\tMaryAnn Johanson\t0\tFlick Filosopher\tAugust 24', ' 2012']
['3\tIt feels like each and every moment bursts forth with urgent dialogue', ' and yet what does anyone actually say?\t2/4\trotten\tStephanie Merry\t1\tWashington Post\tAugust 24', ' 2012']
["3\tThen there's the matter of the screenplay", ' which places everything in a haze of mannered syntax and enigmatic phrasing.\t2/4\trotten\tMark Dujsik\t0\tMark Reviews Movies\tAugust 23', ' 2012']
['3\tArt-house cinema at its most achingly smarmy and self-indulgent. Frustrating verging on abysmal verging on infuriating.\t\trotten\tDustin Putman\t0\tTheFilmFile.com\tAugust 23', ' 2012']
["3\tThere's not really a movie there", " nothing that sustains itself from scene to scene and nothing that's worth watching from beginning to end.\t2/4\trotten\tMick LaSalle\t1\tSan Francisco Chronicle\tAugust 23", ' 2012']
["3\tThis film is a tough sell. But it's never less than daring", " poised or deliberate. It doesn't go down easy", ' but it clings.\tB-\tfresh\tShawn Levy\t0\tOregonian\tAugust 23', ' 2012']
['3\tWatching Cosmopolis', " it's hard to say if you're witnessing a revelation or a crock", " but you'll hang on its every word.\t4/5\tfresh\tHank Sartin\t0\tTime Out Chicago\tAugust 23", ' 2012']
['3\tCronenberg seems like he has something specific', ' possibly devilishly satiric in mind', ' but his screen instincts are numb', ' constructing a feature that lurches from scene to scene.\tD+\trotten\tBrian Orndorf\t0\tBrianOrndorf.com\tAugust 23', ' 2012']
['3\tThe film is all too faithful to its un-cinematic source.\t1.5/4\trotten\tColin Covert\t1\tMinneapolis Star Tribune\tAugust 23', ' 2012']
['3\t"Cosmopolis', " because of its allegiance to the book's mannered", ' offbeat language', ' feels like it never wakes up."\t2/4\trotten\tMoira MacDonald\t1\tSeattle Times\tAugust 23', ' 2012']
['3\tA purposefully disjointed', ' pretentious', ' philosophical', ' and deeply stylized journey through an exaggerated commentary on the haves', ' the have-nots', ' and those stuck in the middle. \t3.5/5\tfresh\tBrian Tallerico\t0\tHollywoodChicago.com\tAugust 23', ' 2012']
['3\tHere we have a brainy', ' sometimes impenetrable director', ' working from a book by brainy', " sometimes impenetrable author. What do they come up with? Something that's brainy", ' sometimes impenetrable.\t2.5/4\trotten\tGary Thompson\t0\tPhiladelphia Daily News\tAugust 23', ' 2012']
["3\tPoor Pattinson does the best he can. He's not terrible. But he's definitely out of his element", ' if not beyond his depth', " an altar boy in a bishop's robes.\t2/4\trotten\tMark Feeney\t1\tBoston Globe\tAugust 23", ' 2012']
['3\tThe program is secure', ' but are we?\t8/10\tfresh\tRon Wilkinson\t0\tMonsters and Critics\tAugust 23', ' 2012']
['3\tThe story seems to cleave into cerebral disquisition and primal sex.\t\tfresh\tJ. R. Jones\t1\tChicago Reader\tAugust 23', ' 2012']
["3\tJuliette Binoche is unusually playful and loose as Pattinson's sex buddy", " and Paul Giamatti's intensity briefly raises the movie's sharpness level. But I don't think they're enough to compensate for the film's general air of arch superiority.\t1/4\trotten\tChris Hewitt\t0\tSt. Paul Pioneer Press\tAugust 23", ' 2012']
["3\tThe movie isn't for everyone. But if it grabs you", ' prepare for it to stick in your head for days.\t3/4\tfresh\tRene Rodriguez\t1\tMiami Herald\tAugust 23', ' 2012']
["3\tRobert Pattinson's most interesting performance by a mile.\t3/4\tfresh\tMatt Pais\t0\tRedEye\tAugust 23", ' 2012']
['3\tA flawlessly directed film about enigmatic people who speak in morose epigrams about vague universal principles they show no sign of understanding.\t2/4\trotten\tRoger Ebert\t1\tChicago Sun-Times\tAugust 23', ' 2012']
['3\tLike all the best Cronenberg pictures', " Cosmopolis is a pitch-black comedy about man's foolhardy attempt to impose systems of order on nature's chaos.\t\tfresh\tSean Burns\t0\tPhiladelphia Weekly\tAugust 22", ' 2012']
['3\tIf you are a fan of David Cronenberg', ' you should include [Cosmopolis] in things to watch list.\tB\tfresh\tRobin Clifford\t0\tReeling Reviews\tAugust 22', ' 2012']
['3\tThere is sci-fi and there is Cronenberg sci-fi and here he has reached his pinnacle with his hallucinatory', " hypnotic trip. We are in Cronenberg's bubble until he lets it burst.\tB+\tfresh\tLaura Clifford\t0\tReeling Reviews\tAugust 22", ' 2012']
["3\tDavid Cronenberg's North by Northwest\t4/4\tfresh\tWalter Chaw\t0\tFilm Freak Central\tAugust 22", ' 2012']
['3\t...the bodily invasions are not only reflective of a psychological state', ' but of a socioeconomic one as well.\t3.5/4\tfresh\tJosh Larsen\t0\tLarsenOnFilm\tAugust 22', ' 2012']
['3\tAfter seeing Cosmopolis', " you're going to want to take a shower.\t3/5\tfresh\tSamir Mathur\t0\tOrlando Weekly\tAugust 22", ' 2012']
['3\tThough the cool', " insolent stoicism does work for Pattinson as the narcissistic royal-'we' speaking wunderkind", " even he can't carry this weighty", ' wordy dissertation on the burdens of money', ' fame and power.\t\trotten\tStaci Layne\t0\tSci-Fi Weekly\tAugust 21', ' 2012']
['3\tAs usual', ' Cronenberg shows masterful control', ' starting with Pattinson.\t6/10\tfresh\tJesse Hassenger\t0\tPopMatters\tAugust 21', ' 2012']
["3\tIt's effective for all the reasons", ' as propaganda', " it's not: It's messy and goofy and unsettling.\t\tfresh\tPaul Schrodt\t0\tEsquire Magazine\tAugust 21", ' 2012']
['3\tIt helps that Pattinson interacts with truly great performances from the supporting cast. \tA-\tfresh\tDrew McWeeny\t0\tHitFix\tAugust 21', ' 2012']
["3\tIt helps to let yourself get lost in David Cronenberg's Cosmopolis", " which adapts Don Delillo's novel and clings hard to the inscrutable", ' arcane language', " which very deliberately keeps the audience at arm's length\t3.5/5\tfresh\tKatey Rich\t0\tCinemaBlend\tAugust 20", ' 2012']
["3\tAn often fascinating formal exercise by one of modern cinema's most consistently intriguing filmmakers.\t\tfresh\tEthan Alter\t0\tTelevision Without Pity\tAugust 17", ' 2012']
['3\tDespite the constrictions', ' Cronenberg keeps the space handsome and active. For long stretches', ' Cosmopolis is dreamy and funny', ' in an off-centered way.\t\tfresh\tDavid Denby\t1\tNew Yorker\tAugust 17', ' 2012']
["3\tIt is one of the director's better movies of recent years", ' even if it is occasionally maddening.\t\tfresh\tBilge Ebiri\t1\tNew York Magazine/Vulture\tAugust 17', ' 2012']
["3\tSmart and stylized - which doesn't innoculate this story of a sad billionaire against lethal familiarity and dullness. Pattinson's stiffness works", ' but the dialogue is vapid.\t\trotten\tCaryn James\t0\tJames on screenS\tAugust 17', ' 2012']
["3\tNothing lies behind or within the film's vapid non-personalities", ' flat acting and dull dialogue', ' hot-air one-liner aphorisms', ' mechanical couplings or ice-queen evasions of consummation.\t\trotten\tDonald J. Levit\t0\tReelTalk Movie Reviews\tAugust 17', ' 2012']
['3\tDavid Cronenberg meets Don DeLillo at last', " and it's as if all the angels of heaven have come together. And said nothing.\t1/4\trotten\tKyle Smith\t1\tNew York Post\tAugust 17", ' 2012']
['3\tThe hilarious thought of stunned Team Edward devotees scratching their heads at this mystifying David Cronenberg movie is about all there is to get you through it.\t1.5/4\trotten\tRobert Levin\t0\tamNewYork\tAugust 16', ' 2012']
["3\tI took a strange pleasure in submitting to this movie's stilted but weirdly poetic rhythms. But I freely acknowledge that for others", ' enduring Cosmopolis may be less fun than a backseat prostate exam.\t\tfresh\tDana Stevens\t1\tSlate\tAugust 16', ' 2012']
['3\tWeird', ' difficult', ' and important', ' Cosmopolis may be one of the best films of the year.\t9/10\tfresh\tWitney Seibold\t0\tCraveOnline\tAugust 16', ' 2012']
["3\tCosmopolis is Cronenberg's first movie since Videodrome to not only identify a particular zeitgeist but embody it in form and content.\t\tfresh\tAmy Taubin\t0\tFilm Comment Magazine\tAugust 16", ' 2012']
['3\tI never imagined describing a film as a cross between The Bonfire of the Vanities and Last Year at Marienbad...\t\tfresh\tAlonso Duralde\t1\tTheWrap\tAugust 16', ' 2012']
["3\tIt's all vapid snark", ' didactic sermonizing and bewildering shock tactics.\t2/4\trotten\tClaudia Puig\t1\tUSA Today\tAugust 16', ' 2012']
["3\tDeLillo's brilliant analysis of the destructive power of wealth that took such seductive hold on page has a tough time gaining traction on screen.\t2.5/5\trotten\tBetsy Sharkey\t1\tLos Angeles Times\tAugust 16", ' 2012']
["3\tIt's like a dream that engages and drifts", " until waking with a start in a finale that's as bracing and raw as the rest of the film is coolly distant.\t\tfresh\tScott Tobias\t1\tNPR\tAugust 16", ' 2012']
['3\tFrustratingly bland work from lead Robert Pattinson results in an awfully watery stew.\t2/5\trotten\tElizabeth Weitzman\t1\tNew York Daily News\tAugust 16', ' 2012']
['3\tConventional it is not. Engrossing it is.\t\tfresh\tJohn Anderson\t1\tWall Street Journal\tAugust 16', ' 2012']
['3\t"Mr. Cronenberg\'s direction throughout ""Cosmopolis"" is impeccable', ' both inside the limo and out."\t3.5/5\tfresh\tManohla Dargis\t1\tNew York Times\tAugust 16', ' 2012']
['3\tIf you can get past the psychological density of the source material and the tabloid noise around the star ', ' this mesmerizing mind-bender ought to prove that Robert Pattinson really can act and Director David Cronenberg never runs from a challenge.\t3/4\tfresh\tPeter Travers\t1\tRolling Stone\tAugust 16', ' 2012']
['3\t...a serenely crazed view of the present. The master is back.\t\tfresh\tChris Barsanti\t0\tFilm Journal International\tAugust 16', ' 2012']

In [ ]:
###usa_2016_gold_medals = []

##for row in olympics_data:
##    if row["Medal"] == "G" and row["Nationality"] == "USA" and row["Year"] == "2016":
##        usa_2016_gold_medals.append({"Event": row["Event"], "Name": row["Name"]})
        
## usa_2016_gold_medals

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

# 5B ROTTEN TOMATOES MOVIE INFO

In [ ]:
#Correlation between $Box Office$ 
# Average run-time for top X amount of films
# Ratings for top X amount of films
#
#

In [168]:
df6 = pd.read_csv("zippedData/rt.movie_info.tsv", sep='\t')
df6

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [178]:
df6.dtypes

id               int64
synopsis        object
rating          object
genre           object
director        object
writer          object
theater_date    object
dvd_date        object
currency        object
box_office      object
runtime         object
studio          object
dtype: object

In [181]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [182]:
df6.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

In [183]:
df6.isna().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [185]:
df6.value_counts

<bound method DataFrame.value_counts of         id                                           synopsis rating  \
0        1  This gritty, fast-paced, and innovative police...      R
1        3  New York City, not-too-distant-future: Eric Pa...      R
2        5  Illeana Douglas delivers a superb performance ...      R
3        6  Michael Douglas runs afoul of a treacherous su...      R
4        7                                                NaN     NR
...    ...                                                ...    ...
1555  1996  Forget terrorists or hijackers -- there's a ha...      R
1556  1997  The popular Saturday Night Live sketch was exp...     PG
1557  1998  Based on a novel by Richard Powell, when the l...      G
1558  1999  The Sandlot is a coming-of-age story about a g...     PG
1559  2000  Suspended from the force, Paris cop Hubert is ...      R

                                                  genre            director  \
0                   Action and Adventure|Classics|Drama    William Friedkin
1                     Drama|Science Fiction and Fantasy    David Cronenberg
2                     Drama|Musical and Performing Arts      Allison Anders
3                            Drama|Mystery and Suspense      Barry Levinson
4                                         Drama|Romance      Rodney Bennett
...                                                 ...                 ...
1555   Action and Adventure|Horror|Mystery and Suspense                 NaN
1556                 Comedy|Science Fiction and Fantasy        Steve Barron
1557  Classics|Comedy|Drama|Musical and Performing Arts      Gordon Douglas
1558    Comedy|Drama|Kids and Family|Sports and Fitness  David Mickey Evans
1559  Action and Adventure|Art House and Internation...                 NaN

                                                writer  theater_date  \
0                                       Ernest Tidyman   Oct 9, 1971
1                         David Cronenberg|Don DeLillo  Aug 17, 2012
2                                       Allison Anders  Sep 13, 1996
3                      Paul Attanasio|Michael Crichton   Dec 9, 1994
4                                         Giles Cooper           NaN
...                                                ...           ...
1555                                               NaN  Aug 18, 2006
1556  Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner  Jul 23, 1993
1557                                               NaN   Jan 1, 1962
1558                  David Mickey Evans|Robert Gunter   Apr 1, 1993
1559                                        Luc Besson  Sep 27, 2001

          dvd_date currency  box_office      runtime             studio
0     Sep 25, 2001      NaN         NaN  104 minutes                NaN
1      Jan 1, 2013        $     600,000  108 minutes  Entertainment One
2     Apr 18, 2000      NaN         NaN  116 minutes                NaN
3     Aug 27, 1997      NaN         NaN  128 minutes                NaN
4              NaN      NaN         NaN  200 minutes                NaN
...            ...      ...         ...          ...                ...
1555   Jan 2, 2007        $  33,886,034  106 minutes    New Line Cinema
1556  Apr 17, 2001      NaN         NaN   88 minutes  Paramount Vantage
1557  May 11, 2004      NaN         NaN  111 minutes                NaN
1558  Jan 29, 2002      NaN         NaN  101 minutes                NaN
1559  Feb 11, 2003      NaN         NaN   94 minutes  Columbia Pictures

[1560 rows x 12 columns]>

In [186]:
df6.describe()

                id
count  1560.000000
mean   1007.303846
std     579.164527
min       1.000000
25%     504.750000
50%    1007.500000
75%    1503.250000
max    2000.000000

In [187]:
df6.shape

(1560, 12)

In [189]:
df6.tail(20)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1540,1979,"In this taut crime drama, a radio broadcaster ...",G,Classics|Drama|Mystery and Suspense,Michael Curtiz,Ranald MacDougall|Bess Meredyth,NaN,NaN,NaN,NaN,103 minutes,NaN
1541,1980,A band of renegades on the run in outer space ...,PG-13,Action and Adventure|Science Fiction and Fantasy,Joss Whedon,Joss Whedon,"Sep 30, 2005","Dec 20, 2005",$,"25,335,935",119 minutes,Universal Pictures
1542,1981,"Money, Fame and the Knowledge of English. In I...",NR,Comedy|Drama,Gauri Shinde,Gauri Shinde,"Oct 5, 2012","Nov 20, 2012",$,"1,416,189",129 minutes,Eros Entertainment
1543,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1544,1983,This animated children's film spoofs the Sherl...,G,Action and Adventure|Animation|Kids and Family,Burny Mattinson|Ron Clements|John Musker|Dave ...,NaN,"Jul 2, 1986","Jul 23, 2002",NaN,NaN,74 minutes,NaN
1545,1985,A woman who joins the undead against her will ...,R,Horror|Mystery and Suspense,Sebastian Gutierrez,Sebastian Gutierrez,"Jun 1, 2007","Oct 9, 2007",$,"59,371",98 minutes,IDP Distribution
1546,1986,Aki Kaurismaki's The Man Without a Past opens ...,PG,Art House and International|Comedy|Drama,NaN,NaN,"Aug 30, 2002","Oct 7, 2003",$,"794,306",97 minutes,NaN
1547,1987,Patrick Dempsey stars in this biography of Son...,PG-13,Comedy,Phil Alden Robinson,Phil Alden Robinson,NaN,NaN,NaN,NaN,98 minutes,NaN
1548,1988,When the money-hungry Duke Stuyvesant (Sterlin...,R,Comedy,Les Rose,NaN,NaN,NaN,NaN,NaN,94 minutes,NaN
1549,1989,Hungarian Rhapsody (Magyar Rapszodia) is the f...,NR,Art House and International|Drama,NaN,NaN,NaN,NaN,NaN,NaN,101 minutes,NaN
1550,1990,A hard-working Sicilian heads for Switzerland ...,R,Art House and International|Comedy|Drama,Franco Brusati,Nino Manfredi|Franco Brusati|Iaia Fiastri,"Jun 1, 1974","May 2, 2005",NaN,NaN,112 minutes,NaN
1551,1991,Popular rap group Run DMC stars as a trio of p...,R,Action and Adventure|Drama,Rick Rubin,Rick Rubin|Ric Menello,NaN,NaN,NaN,NaN,92 minutes,NaN
1552,1992,"The title character, played by John Turturro, ...",R,Comedy|Drama,Joel Coen,Joel Coen|Ethan Coen,"Aug 21, 1991","May 20, 2003",NaN,NaN,116 minutes,NaN
1553,1993,A former child actor turned talent agent is hi...,PG,Comedy,James Lapine,NaN,"Jun 4, 1993","Apr 8, 2003",NaN,NaN,95 minutes,NaN
1554,1995,"Special government agent James West, long on c...",PG-13,Action and Adventure|Comedy|Western,Barry Sonnenfeld,NaN,"Jun 30, 1999","Nov 30, 1999",NaN,NaN,107 minutes,Warner Bros. Pictures
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

**Conclusions**

Provide your conclusions about the work you've done, including any limitations or next steps.


Questions to consider:

* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?